.class {
    font-size: 2em;
    font-family: system-ui;
    color: #000000;
}

#project {
    padding-top: 10%;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 5%;
}

.time {
    font-family: Arial, Helvetica, sans-serif;
}

.lack {}

.brr {}

#card {
    margin-bottom: 20px;
}

#picture {
    width: 100%;
    min-height: 100vh;
    opacity: 5%;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
    position: relative;
}

#body {
    background-color: azure;
}

#div {
    border: 3px dashed #70aefc;
    margin-bottom: 20px;
    width: 80%;
    text-align: center;
    background-color: seashell;
}